.drinks {
    height: 300px;
    width: 100%;
    margin: 4% 0% 0% 4%;
}
.drink {
    width: 33%;
    display: block;
    float: left;
}
@media (max-width: 800px) {
    .drink {
        margin: 5% 10% 5% 10%;
        float: none;
    }
}