.drink-list {
    text-align: center;
    display: inline;
    margin: 20px 20px 20px 20px;
}

.change-drinks-buttons {
    float: left;
    text-align: center;
    width: 100%;
    height: 50px;
    margin-top: 10px;
}

.prev-next-buttons {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    background-color: #292c2f;
    color: #EFE6D2;
    margin: 5px 30px 5px 30px
  }
  
  .prev-next-buttons:hover {
    background-color: #ddd;
    color: black;
  }
  
  .round {
    border-radius: 50%;
  }